@import "_colours.scss";

//Normalize styling
html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .header {
    width: 100vw;
    height: 250px;
    background-color: $primary;
  }


  .footer {
      width: 100vw;
      height: 150px;
      background-color: $primary;
      position: fixed;
      bottom: 0;
  }